$logo_color: #1D1B99;
$logo_color_lighter: #2d2dd8;

nav {
    display: inline-block;
    position: fixed;
    top: 0;
    background-color: #eeeeee;
    text-align: center;
    padding-top: 5px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

nav a {
    text-decoration: none;
    color: $logo_color;
    font-family: Armata, Arial, sans-serif;
    font-size: 24px;
    margin-right: 36px;
}

nav a:hover {
    color: $logo_color_lighter;
    -webkit-transition: color 0.1s linear;
    -moz-transition: color 0.1s linear;
    -o-transition: color 0.1s linear;
    -ms-transition: color 0.1s linear;
    transition: color 0.1s linear;
}

.logo {
    max-width: 64px;
    max-height: 64px;
    vertical-align: middle;
    border-radius: 100%;
    margin-bottom: -24px;
    border: 5px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.logo:hover {
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

body {
    background-color: #d6d6d6;
    margin: 0;
}

.container {
    h1 {
        color: $logo_color;
    }
    background-color: #eeeeee;
    font-family: Roboto, Arial, sans-serif;
    padding: 6px 24px 12px;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 96px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.title {
    font-family: Armata, Arial, sans-serif;
}

.service {
    line-height: 36px;
    vertical-align: middle;

    h2 {
        font-family: Armata, Arial, sans-serif;
    }
}

.btn {
    width: 200px;
    background-color: $logo_color_lighter;
    text-decoration: none;
    display: inline;
    outline: none;
    border: 0 solid black;
    height: 100%;
    padding: 10px 20px;
    float: right;
    color: white;
    vertical-align: middle;
    font-size: 16px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.btn:active:focus {
    background-color: $logo_color;
    box-shadow: unset;
}

.detailed-info {
    text-align: center;

    .skill-logo {
        width: 64px;
        height: 64px;
        margin-left: 10px;
        margin-right: 36px;
        border-radius: 100%;
        border: 2px solid black;
        vertical-align: middle;
    }
}

footer {
    clear: both;
    position: fixed;
    bottom: 0;
    text-align: center;
    padding-bottom: 12px;
    height: 32px;
    width: 100%;
    float: none;
    font-family: Roboto, Arial, sans-serif;
    background-color: #eeeeee;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 -1px 4px rgba(0,0,0,0.24);
}

#bio {
    padding-bottom: 5px;
}

#profileImage {
    float: right;
    max-width: 120px;
    max-height: 120px;
    border-radius: 50%;
    border: 5px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    margin-left: 10px;
    margin-bottom: 5px;
}

#bioText {
    font-size: 18px;
}

.social {
    text-decoration: none;
    color: black;
}

.social:hover {
    color: $logo_color_lighter;
}

#name {
    font-size: 14px;
    vertical-align: middle;
}

#subject {
    font-size: 16px;
}

textarea {
    margin-bottom: -12px;
    font-size: 14px;
}

#submit {
    margin: 0 auto;
    display: block;
}

#contact {
    padding-bottom: 16px;
    margin-bottom: 24px;
}

.project {
    line-height: 36px;
    vertical-align: middle;
    color: black;
    font-family: Armata, Arial, sans-serif;
}

.project-image {
    max-width: 250px;
    max-height: 250px;
    border: 5px solid white;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.image-container {
    margin-top: 16px;
}

.info-container {
    margin-left: 250px;
    text-align: left;
    max-width: 750px;
    font-family: Roboto, Arial, sans-serif;
}
